<a href="https://colab.research.google.com/github/dinsor17/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import os #ทำงานการจัดการไฟล์ 

path = '/content/drive/My Drive/dataviz_2021_data'

In [10]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv') 
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-20-jan-2021.csv

In [11]:
a = path + ' /pm-20-jan-2021.csv' 
print(a)

/content/drive/My Drive/dataviz_2021_data /pm-20-jan-2021.csv

## load data to memory

In [12]:
data_covid = pd.read_csv(covid_file_path)
#data_covid = pd.read_csv(covid_file_path, encoding='utf-8') ถ้าภาษาแปลก หรือใช้วิธีเก่าเรา
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [13]:
data_covid.head() #โชว์แค่หัวตาราง ว่ามันเป็นตามที่เราต้องการมั้ย

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [14]:
data_covid.shape #แถว หลัก

(12653, 10)

## ชี้ค่าในตาราง

In [15]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [16]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

## .iloc

In [17]:
data_covid.iloc[4,7] #ชี้แถวกับหลัก ถ้าใช้ .iloc เวลาวน loop มันจะง่าย

'กรุงเทพมหานคร'

##Table slicing

####ตัดมาเฉพาะ column ที่ต้องการ

In [18]:
smaller_table = data_covid[['announce_date', 'province_of_onset', 'risk']] #slicing มาแต่คอลัมที่ต้องการ อันนี้คืแบบง่าย
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่ายแต่ใช้การไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [19]:
data_covid.iloc[1:5,:] #แถวที่1-4 ทุกคอลัม

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [20]:
data_covid[data_covid['province_of_onset'] == 'ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

data_covid[x] ค่า x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ

1. ชื่อ column
2. ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (True/False))

In [21]:
eight_rows_covid =data_covid.iloc[:8,:] #ตารางตัวอย่าง
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [22]:
#2. ใส่ rows ที่ต้องการ
eight_rows_covid[[True,False,True,True,False,True,False,False]] #เอาแถวไหนก็ใส่ True

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [23]:
#สร้าง list ของ logical expression
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' #ถ้ามันเจอกรุงเทพมันก็จะขึ้น True

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [24]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'] #เอา 2 บรรทัดบนมาบวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

HW (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)
1. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด
2. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

In [25]:
NT = data_covid[['sex','age','province_of_onset']] 
S = NT[NT['sex']=='ชาย']
A = S[['age']]
C = A.dropna()
man = C.values

In [26]:
Total = 0
for i in man :
     Total = float (Total + i)
     MeanMan = Total/len(man)

In [27]:
SL = NT[NT['sex']=='หญิง']
AL = SL[['age']]
L = AL.dropna()
Lady = L.values

In [28]:
Total2 = 0
for i in Lady :
     Total2 = float (Total2 + i)
     MeanLady = Total2/len(Lady)

In [29]:
KK = NT[NT['province_of_onset']=='ขอนแก่น']
SM = KK[KK['sex']=='ชาย']
KK_MA = SM[['age']]
KK_MD = KK_MA.dropna()
Boy = KK_MD.values

Total3 = 0
for i in Boy :
     Total3 = float (Total3 + i)
     MeanBoy = Total3/len(Boy) 

SW = KK[KK['sex']=='หญิง']
KK_SW = SW[['age']]
KK_WW = KK_SW.dropna()
woman = KK_WW.values

Tota4 = 0
for i in woman :
    Tota4 = float ( Tota4 + i)
    MeanWoman =  Tota4/len(woman)

In [30]:
print(f'อายุเฉลี่ยของผู้หญิงทั้งหมด = {MeanLady} ปี')
print(f'อายุเฉลี่ยของผู้ชายทั้งหมด = { MeanMan} ปี')
print(f'อายุเฉลี่ยผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = {MeanWoman} ปี')
print(f'อายุเฉลี่ยผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = {MeanBoy} ปี')

อายุเฉลี่ยของผู้หญิงทั้งหมด = 36.63955450022614 ปี
อายุเฉลี่ยของผู้ชายทั้งหมด = 39.46076940331987 ปี
อายุเฉลี่ยผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = 41.57142857142857 ปี
อายุเฉลี่ยผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = 26.571428571428573 ปี

3. หาจำนวนผู้ป่วยที่เป็นคน 'คนต่างชาติเดินทางมาจากต่างประเทศ'

In [31]:
data_covid[data_covid['risk'] == 'คนต่างชาติเดินทางมาจากต่างประเทศ']

         No. announce_date  ... district_of_onset                              risk
0          1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1          2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2          3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3          4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4          5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...           ...  ...               ...                               ...
9852    9853      1/9/2021  ...            แม่สอด  คนต่างชาติเดินทางมาจากต่างประเทศ
10341  10342     1/11/2021  ...            แม่สอด  คนต่างชาติเดินทางมาจากต่างประเทศ
10616  10617     1/12/2021  ...          ปทุุมวัน  คนต่างชาติเดินทางมาจากต่างประเทศ
10619  10620     1/12/2021  ...            บางรัก  คนต่างชาติเดินทางมาจากต่างประเทศ
10620  10621     1/12/2021  ...             วัฒนา  คนต่างชาติเดินทางมาจากต่างประเทศ

[155 rows x 10 columns]

In [32]:
data_covid[data_covid['risk'] == 'คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

##วันที่ 26 /01/2021

In [33]:
 this_data = data_covid[['sex','age','province_of_onset']] 
 this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [34]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 5332, dtype: float64

In [35]:
sum = 0
N = 0
for a in female['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง 36.63955450022614

In [36]:
female_KK = female[female['province_of_onset']=='ขอนแก่น']

sum = 0
N = 0
for a in female_KK['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น 41.57142857142857

การจัดการ Missing Value 

- ลบ record ที่เป็น missing 
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean , default, category-unknown
- ใช้ ค่าจาก column อื่นๆ ช่วยประมาณค่า ค่าใน colum ที่หายไป (regression, deep learning, etc.)

### ลบ record (dropna)

missing = ```None``` ```NA```(not autorized) ```NaN``` (not a number)

In [65]:
this_data.shape

(12653, 3)

In [66]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12653, 10)
(6655, 10)

In [67]:
this_data.dropna().shape

(8478, 3)

In [68]:
this_data.dropna()

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[8478 rows x 3 columns]

In [69]:
this_data.dropna()
print(this_data.shape)

(12653, 3)

In [70]:
this_data.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8478, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [72]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12653, 3)

In [73]:
this_data.dropna().shape

(8478, 3)

In [74]:
this_data.dropna(subset=['age']).shape

(8881, 3)

###แทน missing ด้วยค่าที่เหมาะสม (fillna)

In [57]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [58]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f'จำนวน record ก่อน drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]}')

จำนวน record ก่อน drop missing ใน province 12653
จำนวน record ก่อน drop missing ใน province 10662

In [59]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้', 'age': -1, 'province_of_onset': 'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [60]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12635  ไม่รู้ -1.0         สมุทรสาคร
12636  ไม่รู้ -1.0         สมุทรสาคร
12637  ไม่รู้ -1.0         สมุทรสาคร
12638  ไม่รู้ -1.0         สมุทรสาคร
12639  ไม่รู้ -1.0         สมุทรสาคร

[2502 rows x 3 columns]

In [61]:
this_data_updated['province_of_onset']=='ไม่รู้'

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [62]:
data_covid[this_data_updated['province_of_onset']=='ไม่รู้']

         No.  ...                                         risk
414      415  ...                                      สนามมวย
529      530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555      556  ...                                      สนามมวย
576      577  ...                                      สนามมวย
588      589  ...                         อยู่ระหว่างการสอบสวน
...      ...  ...                                          ...
12405  12406  ...                            Cluster สมุทรสาคร
12406  12407  ...                            Cluster สมุทรสาคร
12407  12408  ...                            Cluster สมุทรสาคร
12408  12409  ...                            Cluster สมุทรสาคร
12409  12410  ...                            Cluster สมุทรสาคร

[1991 rows x 10 columns]

In [63]:
this_data_updated_2 = this_data.fillna(value={'province_of_onset': 'ไม่รู้'})

In [64]:
this_data_updated_2[this_data_updated['sex']=='ไม่รู้']

       sex  age province_of_onset
4391   NaN  NaN         สมุทรสาคร
4392   NaN  NaN         สมุทรสาคร
4393   NaN  NaN         สมุทรสาคร
4394   NaN  NaN         สมุทรสาคร
4395   NaN  NaN         สมุทรสาคร
...    ...  ...               ...
12635  NaN  NaN         สมุทรสาคร
12636  NaN  NaN         สมุทรสาคร
12637  NaN  NaN         สมุทรสาคร
12638  NaN  NaN         สมุทรสาคร
12639  NaN  NaN         สมุทรสาคร

[2502 rows x 3 columns]

###การวนลูป record ในตาราง (iterrows)

In [56]:
for each_row in this_data.iterrows():
    # print(each_row)
    # print(each_row[1])
     if (each_row[1]['age'] == 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น') :
        print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

### การวนลูป แบบมองตารางแพนด้า (pandas dataframe) เป็น numpy array (.iloc)

In [79]:
for each_row in range(this_data.shape[0]) :
    if  (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น' ): #each_row คือ ตัวเลข
        print(each_row)
        print(this_data.iloc[each_row,:])

9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

## `Quiz `ตัดตารางออกมาเฉพาะปี 2021 announce_date ในปี 2021
* วนลูปหา index ของปี 2021
* ตัดตารางมาเฉพาะปี 2021

In [95]:
for row in range(data_covid.shape[0]) : 
     if  (data_covid.iloc[row,2] == '1/1/2021') :
        print(row)
        print(data_covid.iloc[row,:])

7163
No.                                   7164
announce_date                     1/2/2021
notification_date                 1/1/2021
sex                                   หญิง
age                                     26
nationality                       Thailand
province_of_isolation               ชัยนาท
province_of_onset                   ชัยนาท
district_of_onset                   สรรพยา
risk                     Cluster สมุทรสาคร
Name: 7163, dtype: object
7164
No.                                                               7165
announce_date                                                 1/2/2021
notification_date                                             1/1/2021
sex                                                                ชาย
age                                                                 43
nationality                                                   Thailand
province_of_isolation                                           นครปฐม
province_of_onset                                               นครปฐม
district_of_onset                                                เมือง
risk                     ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
Name: 7164, dtype: object
7165
No.                                                               7166
announce_date                                                 1/2/2021
notification_date                                             1/1/2021
sex                                                               หญิง
age                                                                 46
nationality                                                   Thailand
province_of_isolation                                           นครปฐม
province_of_onset                                               นครปฐม
district_of_onset                                                เมือง
risk                     ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
Name: 7165, dtype: object
7166
No.                                                             7167
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                             หญิง
age                                                                1
nationality                                                 Thailand
province_of_isolation                                     สุพรรณบุรี
province_of_onset                                         สุพรรณบุรี
district_of_onset                                         สองพี่น้อง
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7166, dtype: object
7167
No.                                                                  7168
announce_date                                                    1/2/2021
notification_date                                                1/1/2021
sex                                                                   ชาย
age                                                                    35
nationality                                                         Burma
province_of_isolation                                            ปทุมธานี
province_of_onset                                                ปทุมธานี
district_of_onset                                                  รังสิต
risk                     การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน
Name: 7167, dtype: object
7168
No.                                                                  7169
announce_date                                                    1/2/2021
notification_date                                                1/1/2021
sex                                                                  หญิง
age                                                                    28
nationality                                                         Burma
province_of_isolation                                                 ตาก
province_of_onset                                                     ตาก
district_of_onset                                                  แม่สอด
risk                     การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน
Name: 7168, dtype: object
7169
No.                                                             7170
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                             หญิง
age                                                               41
nationality                                                 Thailand
province_of_isolation                                       ปทุมธานี
province_of_onset                                           ปทุมธานี
district_of_onset                                            ลำลูกกา
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7169, dtype: object
7170
No.                                                               7171
announce_date                                                 1/2/2021
notification_date                                             1/1/2021
sex                                                               หญิง
age                                                                 37
nationality                                                   Thailand
province_of_isolation                                         ปทุมธานี
province_of_onset                                             ปทุมธานี
district_of_onset                                             คลองหลวง
risk                     ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
Name: 7170, dtype: object
7171
No.                                                             7172
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                             หญิง
age                                                               67
nationality                                                 Thailand
province_of_isolation                                        อ่างทอง
province_of_onset                                            อ่างทอง
district_of_onset                                              เมือง
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7171, dtype: object
7172
No.                                                             7173
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                              ชาย
age                                                                8
nationality                                                 Thailand
province_of_isolation                                        อ่างทอง
province_of_onset                                            อ่างทอง
district_of_onset                                              เมือง
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7172, dtype: object
7173
No.                                          7174
announce_date                            1/2/2021
notification_date                        1/1/2021
sex                                          หญิง
age                                            32
nationality                              Thailand
province_of_isolation             พระนครศรีอยุธยา
province_of_onset                 พระนครศรีอยุธยา
district_of_onset                        บางปะอิน
risk                     Cluster บ่อนพัทยา/ชลบุรี
Name: 7173, dtype: object
7174
No.                                                             7175
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                              ชาย
age                                                               23
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                               สาทร
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7174, dtype: object
7175
No.                                                             7176
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                             หญิง
age                                                               33
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                            ยานนาวา
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7175, dtype: object
7176
No.                                   7177
announce_date                     1/2/2021
notification_date                 1/1/2021
sex                                   หญิง
age                                     44
nationality                       Thailand
province_of_isolation              ราชบุรี
province_of_onset                  ราชบุรี
district_of_onset                    บางแพ
risk                     Cluster สมุทรสาคร
Name: 7176, dtype: object
7177
No.                                                             7178
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                              ชาย
age                                                               49
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                            ยายนาวา
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7177, dtype: object
7178
No.                                   7179
announce_date                     1/2/2021
notification_date                 1/1/2021
sex                                   หญิง
age                                     31
nationality                       Thailand
province_of_isolation        กรุงเทพมหานคร
province_of_onset            กรุงเทพมหานคร
district_of_onset                 ทวีวัฒนา
risk                     Cluster สมุทรสาคร
Name: 7178, dtype: object
7179
No.                                                             7180
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                              ชาย
age                                                               27
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                            นนทบุรี
district_of_onset                                             ้เมือง
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7179, dtype: object
7180
No.                                                             7181
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                              ชาย
age                                                               26
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                          คลองสามวา
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7180, dtype: object
7181
No.                                                             7182
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                              ชาย
age                                                               35
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                           ทวีวัฒนา
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7181, dtype: object
7182
No.                                                               7183
announce_date                                                 1/2/2021
notification_date                                             1/1/2021
sex                                                                ชาย
age                                                                 27
nationality                                                   Pakistan
province_of_isolation                                    กรุงเทพมหานคร
province_of_onset                                        กรุงเทพมหานคร
district_of_onset                                                พญาไท
risk                     ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
Name: 7182, dtype: object
7183
No.                                                             7184
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                             หญิง
age                                                               24
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                            ทุ่งครุ
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7183, dtype: object
7184
No.                                                             7185
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                              ชาย
age                                                               61
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                              ดุสิต
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7184, dtype: object
7185
No.                                                             7186
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                             หญิง
age                                                               44
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                            บึงกุ่ม
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7185, dtype: object
7186
No.                                                             7187
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                             หญิง
age                                                               34
nationality                                                    Burma
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                        บางขุนเทียน
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7186, dtype: object
7187
No.                                                             7188
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                              ชาย
age                                                               28
nationality                                                    Burma
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                      กรุงเทพมหานคร
district_of_onset                                       บางขุุนเทียน
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7187, dtype: object
7188
No.                                                             7189
announce_date                                               1/2/2021
notification_date                                           1/1/2021
sex                                                             หญิง
age                                                                8
nationality                                                 Thailand
province_of_isolation                                  กรุงเทพมหานคร
province_of_onset                                            นนทบุรี
district_of_onset                                          บางบัวทอง
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
Name: 7188, dtype: object
7189
No.                                                               7190
announce_date                                                 1/2/2021
notification_date                                             1/1/2021
sex                                                                ชาย
age                                                                 24
nationality                                                   Thailand
province_of_isolation                                    กรุงเทพมหานคร
province_of_onset                                        กรุงเทพมหานคร
district_of_onset                                             ห้วยขวาง
risk                     ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
Name: 7189, dtype: object
7190
No.                               7191
announce_date                 1/2/2021
notification_date             1/1/2021
sex                                ชาย
age                                 60
nationality                   Thailand
province_of_isolation    กรุงเทพมหานคร
province_of_onset        กรุงเทพมหานคร
district_of_onset              บางพลัด
risk                       สถานบันเทิง
Name: 7190, dtype: object
7191
No.                                                              7192
announce_date                                                1/2/2021
notification_date                                            1/1/2021
sex                                                              หญิง
age                                                                25
nationality                                                  Thailand
province_of_isolation                                   กรุงเทพมหานคร
province_of_onset                                       กรุงเทพมหานคร
district_of_onset                                               วัฒนา
risk                     ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
Name: 7191, dtype: object
7192
No.                                                             7193
announce_date                                               1/2/2021

อาจารย์เฉลย

In [106]:
TF=list()
for each_row in data_covid.iterrows():
     #print(each_row[1]['announce_date'].split('/')[2] == '2021')
     if each_row[1]['announce_date'].split('/')[2] == '2021':
           TF.append(True)
     else:
           TF.append(False)
data_covid[TF].head()                   #มันดีกว่า.lioc

       No.  ...                                               risk
6884  6885  ...                                  Cluster สมุทรสาคร
6885  6886  ...                                      Cluster ระยอง
6886  6887  ...                                        สถานบันเทิง
6887  6888  ...                                  Cluster สมุทรสาคร
6888  6889  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...

[5 rows x 10 columns]

#Function ตัวช่วยใน pandas

### .describe() คำนวณค่าทางสถิติของข้อมูลที่เป็นตัวเลข

In [107]:
data_covid.describe()

                No.          age
count  12653.000000  8881.000000
mean    6327.000000    38.054748
std     3652.750813    15.125178
min        1.000000     0.100000
25%     3164.000000    27.000000
50%     6327.000000    36.000000
75%     9490.000000    48.000000
max    12653.000000    97.000000

### .mean() คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [110]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

39.46076940331987

###.isnull()

In [108]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12648  False          False  ...              False  False
12649  False          False  ...              False  False
12650  False          False  ...              False  False
12651  False          False  ...              False  False
12652  False          False  ...              False  False

[12653 rows x 10 columns]

In [109]:
data_covid['sex'][4391]

nan

#next
- .describe
- .mean
- HW วนลูป missing .isnull
- ต่อตารางแกน X แกน y
- .groupby
- save table