<a href="https://colab.research.google.com/github/dinsor17/data_viz/blob/main/Qiuz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน 'time_diff_nanos' ระหว่างช่วงเวลา 10.00-10.59 กับ 23.00-23.59 เวลาไหนมี 'time_diff_nanos'  น้อยกว่ากัน

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #ทำงานการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [7]:
file_path = os.path.join(path,'search_click.csv') 
print(file_path)

/content/drive/My Drive/dataviz_2021_data/search_click.csv

In [13]:
search_click_df = pd.read_csv(search_click)
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [20]:
#เวลาไหนที่มีค่าเฉลี่ยของ 'time_diff_nanos' สูงสุด
search_click_df = search_click_df.groupby('click_timestamp').mean().sort_values('time_diff_nanos',ascending=False)
search_click_df

                   business_id  display_position  time_diff_nanos       ads
click_timestamp
12:41.7          197776.911765          4.176471     1.799409e+17  0.000000
12:41.6          168540.269231          7.769231     1.712469e+17  0.076923
01:02.2          172580.391304          6.000000     6.457026e+16  0.041667
34:41.3          161443.178571          4.793103     5.355945e+16  0.000000
57:11.8          184139.500000          5.645161     5.036072e+16  0.064516
...                        ...               ...              ...       ...
00:00.0          151391.000000          3.000000     2.648821e+10  0.000000
09:59.3          224156.333333          9.000000     2.515240e+10  0.000000
49:59.7          189955.000000          2.000000     2.318459e+10  0.000000
59:59.9          164598.000000          2.000000     2.130741e+10  0.000000
29:58.5          171064.000000          1.000000     2.042269e+10  0.000000

[35995 rows x 4 columns]

In [ ]:
#หาราคาเฉลี่ยเวลาช่วง 10:00
search_click = search_click_df[search_click_df['click_timestamp']=='10:00.0'].dropna()['time_diff_nanos	'].mean()