<a href="https://colab.research.google.com/github/dinsor17/data_viz/blob/main/%E0%B9%80%E0%B8%99%E0%B8%B7%E0%B9%89%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%E0%B9%83%E0%B8%99%2B%E0%B9%80%E0%B8%89%E0%B8%A5%E0%B8%A2_Qiuz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
import os 
path = '/content/drive/My Drive/dataviz_2021_data'

In [35]:
file_path = os.path.join(path2,'example_timestamp.csv') 
print(file_path)

/content/drive/My Drive/dataviz_2021_data/example_timestamp.csv

จากไฟล์ example_timestamp.csv

เปรียบเทียบผลรวม ```alpha``` และ ```beta``` ของข้อมูล ก่อนวันที่ 2 มิถุนายน 2020 และตั้งแต่วันที่ 2 มิถุนายน 2020

In [38]:
data  =  pd.read_csv('/content/drive/My Drive/dataviz_2021_data/example_timestamp.csv')
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [39]:
data.iloc[0,0]

'2020-05-29'

In [40]:
from datetime import datetime

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [41]:
data['Unnamed: 0'] = pd.to_datetime(data['Unnamed: 0'], format='%Y-%m-%d')
data

  Unnamed: 0  alpha  beta
0 2020-05-29   8.78    24
1 2020-05-30  13.00    25
2 2020-05-31   0.44    25
3 2020-06-01   1.94    28
4 2020-06-02   5.40    20
5 2020-06-03   5.68    21
6 2020-06-04   2.64    16

In [ ]:
data.iloc[0,0]

In [42]:
A = data[data['Unnamed: 0']<datetime(day=2,month=6,year=2020)].sum()
print(A)

alpha     24.16
beta     102.00
dtype: float64

In [43]:
A['alpha']

24.160000000000004

In [44]:
data[data['Unnamed: 0']>=datetime(day=2,month=6,year=2020)].sum()

alpha    13.72
beta     57.00
dtype: float64

In [45]:
print(f"ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ {A['alpha']:.2f}") 
#ระวังเรื่องการใช้ ' ' , " "

ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ 24.16

### Query how?

In [46]:
data.query('alpha == 1.94')

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28

In [47]:
data[data['alpha']==1.94]

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28

### จากไฟล์ search_clicks.csv
### เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน ```time_diff_nanos``` ระหว่างช่วงเวลา
### 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี ```time_diff_nanos``` น้อยกว่ากัน